/* Fonts */
@font-face {
	font-family: RobotoRegular;
	src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: RobotoBold;
	src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
	font-family: RobotoItalicLight;
	src: url(./fonts/Roboto/Roboto-LightItalic.ttf);
}

/* General styles */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "RobotoRegular", sans-serif;
}

/* common styles */
.pale-text{
	color: #e5e7eb;
	font-size: 18px;
}
.navbar, .main, .random-info .container, .quote .container, .call-to-action .container{	
	width: 80%;
	margin: auto;
}
.btn{
	width: 100px;
	padding: 0.4rem 0;
	border: none;
	border-radius: 5px;
	margin-top: 0.75rem;
	cursor: pointer;
	font-family: "RobotoRegular", sans-serif;
}
.btn:hover{
	opacity: 0.9;
}
header, footer{
	background-color: #1f2937;
}

/* nav */
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
}
.navbar .logo{
	color: #f9faf8;
	font-family: "RobotoBold", sans-serif;
}
.navbar .nav-links{
	list-style-type: none;
	display: flex;
	column-gap: 1.5rem;
	cursor: pointer;
}

/* main */
.main{
	padding: 6rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main .hero, .main .hero-img{
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main .hero .hero-title{
	font-size: 3rem;
	font-weight: bolder;
	color: #f9faf8;
	line-height: 1.1;
	font-family: "RobotoBold", sans-serif;
}
.hero .hero-btn{
	background-color: #3882f6;
	color: #f9faf8;
}
.main .hero-img img{
	width: 100%;
	align-self: flex-end;
	min-width: 300px;
}

/* Random Info */
.random-info {
	padding: 2rem 0 5rem;
	text-align: center;
}
.random-info .container .info-title {
	font-size: 2.25rem;
	font-weight: bolder;
	color: #1f2937;
	margin-bottom: 2rem;
	font-family: "RobotoBold", sans-serif;
}
.random-info .container .box-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 3rem;
}
.random-info .container .box-container .box{
	width: 120px;
}
.random-info .container .box-container .box .img-container {
	width: inherit;
	height: 120px;
	overflow: hidden;
	border: 3px solid #3882f6;
	border-radius: 10px;
}
.random-info .container .box-container .box .img-container .box-img{
	width: 100%;
}
.random-info .container .box-container .box .box-text{
	color: #1f2937;
	font-size: 0.8rem;
}

/* Quote */
.quote{
	background-color: #e5e7eb;
}
.quote .container{
	padding: 4rem 0;
}
.quote .container .text-container{
	width: 80%;
	margin: auto;
}
.quote .container .text-container .quotation {
	font-size: 2.25rem;
	color: #1f2937;
	font-family: "RobotoItalicLight", sans-serif;
}
.quote .container .text-container .quoting{
	font-size: 1.5rem;
	text-align: right;
	font-weight: bold;
}

/* Call to Action */
.call-to-action{
	padding: 3rem 0;
}
.call-to-action .container {
	background-color: #3882f6;
	color: #f9faf8;
	padding: 2rem 5rem;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	max-width: 800px;
}
.call-to-action .container .cta-title{
	font-size: 1.5rem;
	font-family: "RobotoBold", sans-serif;
}
.call-to-action .container .cta-text{
	color: #e5e7eb;
}
.call-to-action .container .cta-btn{
	background-color: transparent;
	color: #f9faf8;
	border: 2px solid #f9faf8;
}

/* Footer */
footer{
	padding: 1.5rem 0;
	text-align: center;
	color: #e5e7eb;
	font-size: 0.8rem;
}