/* General styles */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* common styles */
.pale-text{
	color: #e5e7eb;
	font-size: 18px;
}
.navbar, .main{	
	width: 80%;
	margin: auto;
}

/* header */
header{
	background-color: #1f2937;
}

/* nav */
.navbar{
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
}
.navbar .logo{
	color: #f9faf8;
}
.navbar .nav-links{
	list-style-type: none;
	display: flex;
	column-gap: 1.5rem;
	cursor: pointer;
}

/* main */
.main{
	padding: 6rem 0;
	display: flex;
	justify-content: space-between;
}
.main .hero, .main .hero-img{
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main .hero .hero-title{
	font-size: 3rem;
	font-weight: bolder;
	color: #f9faf8;
	line-height: 1.1;
}
.hero .hero-btn{
	background-color: #3882f6;
	color: #f9faf8;
	width: 100px;
	padding: 0.4rem 0;
	border: none;
	border-radius: 5px;
	margin-top: 0.75rem;
}
.main .hero-img img{
	width: 100%;
	align-self: flex-end;
}